.list {
  position: relative;
  min-height: 50vh;
}

.item-wrapper {
  position: absolute;
  cursor: pointer;
  padding: 2px;
}

.item-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  background-repeat: no-repeat;
  background-color: #000;
}


